# ===========================
# FastFood AI v2
# Environment Variables
# ===========================

APP_NAME=FastFoodAI

APP_ENV=development

APP_DEBUG=True

SUPABASE_URL=

SUPABASE_ANON_KEY=

SUPABASE_SERVICE_KEY=

GROQ_API_KEY=

WHATSAPP_VERIFY_TOKEN=

WHATSAPP_ACCESS_TOKEN=

WHATSAPP_PHONE_NUMBER_ID=

JWT_SECRET=

OWNER_PHONE=

CHEF_PHONE=

RIDER_PHONE=
